// variable
@bg_out_color : #ececfb;
@bg_in_color: #fff;

@bg_mask_color: rgba(125, 125, 125, 0.5);
@bg_mask_content_color: #fff;

@border_shadow: #b3b3b3;
html, body {
    width: 100%;
    font-size: 14px;
    padding: 0;
    background-color: @bg_out_color;
}
body {
    box-sizing: border-box;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    word-wrap: break-word;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    color: #333;
    -webkit-text-size-adjust: none; /* 禁止文字缩放 */
    -webkit-user-select: none; /* 禁止选取文字/图片(iOS) */
    display: -webkit-box;
    -webkit-align-items: center;
    -webkit-box-align: center;
}
.container {
    width: 100%;
    background-color: @bg_out_color;
}

/* =grid
 -------------------------------------------------------------------- */
.box {
    display: box;s
    display: -webkit-box;
}
.flex1 {
    box-flex: 1;
    -webkit-box-flex: 1;
}
// header

header {
    width: 100%;
    color: #000;
    font-size: 18px;
    text-align: center;
    height: 55px;
    line-height: 55px;
    box-shadow: #888;
    background:-webkit-linear-gradient(left, #b6eaf5, #6fd6c8);
    h2 {
        font-size: 24px;
        margin: 0;
        font-weight: bold;
    }
}
.setTitleWrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: @bg_mask_color;
    .inner {
        width: 80%;
        background-color: @bg_mask_content_color;
        margin: 50px auto;
        border-radius: 3px;
        text-align: center;
        div {
            color: #292929;
            height: 40px;
            line-height: 40px;
        }
        .title {
            text-align: left;
            background-color: #e6e6e6;
            text-indent: 5px;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
        }
    }
    input {
        outline: none;
        border: 1px solid @border_shadow;
        width: 80%;
        border-radius: 3px;
        padding: 5px;
        font-size: 16px;
    }

}
